<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
</ul>

<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Saved Articles</h1>
      <p class="lead">Your Saved Articles</p>
    </div>
  </div>

   {{#each article}}
        <div class="card">  
          <h5 class="card-header">{{this.title}}</h5>
          <div class="card-body">
            <a href="{{this.link}}"></a>  
              <h5 class="card-title">{{this.title}}</h5>
            </a>
           <button type="button" class="btn btn-success save" data-id={{this._id}}>Add a Comment</button> 
           <button type="button" class="btn btn-success save" data-id={{this._id}}>Delete Article</button>
          </div>
        </div>
    {{/each}}   
</div>  